

.homepage-layout-container{
  display: grid;
  grid-template-areas: "side main";
  grid-template-columns: 25rem minmax(50rem,1fr);
  grid-template-rows: 1fr;
  min-height:100vh;
  max-width: 100vw;
  padding: 0rem 6rem;
}

.homepage-layout-side{
  grid-area: side;
  padding: 1.5rem;
  position: fixed;
  width: 18rem;
}

.homepage-layout-main{
  grid-area: main;
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap:1rem;
}

.note{
  border-radius: 0.5rem;
  padding:1rem;
}

.note-body{
  max-height: 8rem;
  overflow: scroll;
  margin:0rem 0.5rem 0.5rem 0rem ;
  padding:1rem;
  width: 94%;
}

.note-footer{
  display:flex;
  flex-flow: row wrap;
  gap:1rem;
  align-items: center;
}

textarea{
  text-decoration: none;
  font-family: inherit;
  resize:vertical;
}
